.header{
    width: auto;
    border: 3px solid black;
    padding: 30px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.header-part {
    text-align: center;
    border: 2px solid black;
    display: flex;
}

.header-part > img {
    width: 400px;
}

.navigation {
    width: 350px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    position: relative;
    bottom: 30px;
    left: 30px;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

.main-container {
    width: auto;
    border: 2px solid black;
    margin-top: 1px;
    display: flex;
    flex-direction: row;
}

.side-bar {
    width: 30%;
    margin-right: 1px;
}

.content {
    width: 70%;
    margin-left: 1px;
}

.side-bar, .content {
    border: 1px solid grey;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    width: auto;
    border: 2px solid black;
    margin-top: 1px;
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium';
    font: bolder;
}

.contact {
    font-family: 'Franklin Gothic Medium';
    font-size: 14px;
    text-align: left;
    margin: 2px 2px 2px 2px;
}
.contact .judul {
    font-size: 20px;
    font: bold;
    text-align: center;
}
.contact .city {
    font-size: 16px;
    font: bold;
    text-align: center;
}
.company-logo img {
    width: 150px;
    margin: 5px 5px;
}
.social-media ul {
    display: flex;
    flex-direction: row;
    font-size: 27px;
}
.fa {
    padding: 10px;  
    margin: 10px 3px;
    margin-right: 15px;  
    font-size: 25px;  
    width: 50px;
  }  
  .fa-facebook {  
    background: #3B5998;  
    color: white;  
  }  
  .fa-twitter {  
    background: #55ACEE;  
    color: white;  
  }
  .fa-instagram {  
    background: #3f729b;  
    color: white;  
  }  
  